.grid-container{
    width:320px;
   height:320px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
    

}

.total_volume{
    color:rgb(244, 186, 165);
}

.market_cap{
    color:#edae07;;
}

.grid-container:hover{
    border-color:var(--green);
    transition: all 0.3s;
}

.grid-container-red:hover{
    border-color:var(--red) !important;
    transition: all 0.3s;
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    margin: 1rem;
}

.coin-logo{
    height:3.5rem;
    height:3.5rem;
}

.coin-symbol{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600 rem;
    font-size: 1.2rem;
    margin:0;
}

.coin-name{
    color:var(--grey);
    
    text-transform: capitalize;
    font-weight:light;
    font-size: 1rem;
    margin:0
}

.name-col{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    
}

.chip-flex{
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    margin:1rem 1.5rem;
}

.price-chip{
    border:2px solid var(--green);
    border-radius: 2rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    color:var(--green);
    min-width: 64px;
}

.price-chip:hover, .icon-chip:hover{
    background-color: var(--green) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}

.container-marked{
    justify-content: space-between;
}

.marked{
    display: flex;
    justify-content: center;
    
    transition: all 0.3s;
    
    border-radius: 5rem;
    min-width: 34px;
    min-height: 34px;
    height:50px;
    width:50px;
    align-items: center;
}

.chip-green:hover{
    background-color: var(--green) !important;
    color: var(--white) !important;
    transition: all 0.3s;
    
    
}

.chip-red{
    color: var(--white) !important;
    border:2px solid var(--red) !important;
    color: var(--red) !important;
}

.chip-red:hover{
    background-color: var(--red) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}

.chip-green{
    color: var(--green) !important;
    border: 1px solid var(--green) !important;
}



.icon-chip{
    border:2px solid var(--green);
    border-radius: 50%;
    height:2rem !important;
    width:2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:var(--green)
}

.info-container{
    margin: 1.5rem;
}

.coin-price{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}

.total_volume, .market_cap{
    
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width:800px){
    
    .td-total-volume{
        display: none;
    }
    #mui-p-57345-P-list.MuiTabPanel-root.css-13xfq8m-MuiTabPanel-root{
        padding:4px;
        display: flex;
        justify-content: center;
    }
    
   .grid-container{
    width:15rem;
    padding:1rem;
    height:15rem;
   }

   .container-marked{
    margin:0.2rem;
   }
   

    .mobile-td-mkt{
        display: block;
    }

    .list-row{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin:8px;
        gap:0.1rem;
        padding: 1rem;
        border-radius: 1rem;
        
    }

    div .grid-chip-flex{
        display: flex !important;
        flex-direction: row;
        gap:5px;
    }

    .marked-container-list{
        display: block;
        justify-content: center;
    }

    .grid-price-chip{
        padding:0.2rem;
        width:100px;
        margin-bottom: 1rem;
    }

    .coin-symbol{
        font-size: medium;
    }

    .coin-name{
        font-size: small;
    }

    .coin-logo{
        width:30px;
        height:30px;
    }

    .list-table{
        
        margin:2px;
        width:350px;
    }

    tr .list-row{
        margin:4px;
    }

    .td-image{
        margin:8px;
        display: flex;
    }

    .name-col{
        margin:0.1rem;
    }

    .coin-price{
        margin-left:10px;
        padding-left: 2px;;
    }
}
